@page
@model IndexModel

@{

}

<style>
tr.selected {
  background: #ddd;
}

th, td {
  text-align: left;
}

tr:hover {background-color:#dcdcdc;}
</style>

<div class="text-center">
    <h1 class="display-4">Your tasks</h1>
</div>



<form method="get">

<div>
    <select value="" name="State">
        <option value="-1">All tasks</option>
        <option value="0">ToDo</option>
        <option value="1">Doing</option>
        <option value="2">Done</option>
    </select>
</div>

<div>
    <select value="" name="SortNum">
        <option>Choose how to sort here</option>
        <option value="1">Priority</option>
        <option value="2">Type</option>
    </select>
</div>

<div>
    <span class="input-group-btn">
        <input type="submit" class="btn" Value="Sort tasks"/>
    </span>
</div>
</form>


<form method="post">
<div class="text-center">
    <div class></div>
    <h5>Tasks (@Model.taskList.Count)</h5>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Dateadded</th>
                    <th scope="col">Deadline</th>
                    <th scope="col">Type</th>
                    <th scope="col">Priority</th>
                    <th scope="col">Tasklist</th>
                </tr>
            </thead>
            @foreach (Classlibrary.Task text in Model.taskList)
            {
               <tr>
                    <td><input type="radio" name="move" checked value="@text.Title" />@text.Title</td>
                    <td>@text.DateAdded</td>
                    <td>@text.Deadline</td>
                    <td>@text.Type</td>
                    <td>@text.TaskPriority</td>
                    <td>@Startup.todoHandler.GetListType(Model.taskList.IndexOf(text))</td>
                </tr>
            }
        </table>
    <div>
    <span class="input-group-btn">
        <input type="submit" class="btn" Value="Move"/>
    </span>
    </div>  
</div>
</form>